{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}/catégorie filter{% endblock %}

{% block body %}

<div class = "jumbotron">
    <h1 style="text-align:center"><mark>Catégorie :</mark></h1>
</div>
    <section class="categorie" style="text-align:center">
        {%for categorie in categories %}
            <h2>{{ categorie.libelle }}</h2>
            <div>
                <a href="{{ path('bienCat', {'id':categorie.id}) }}" class="btn btn-primary"> Lire la suite </a> 
            </div>  
        {% endfor%}
    </section>

{% endblock %}